@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <h4>Busque empresas pelo CNPJ e armazene em seu banco de dados.</h4>
    <p></p>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="CnpjResponses" asp-action="ObterCnpj">Iniciar Busca</a>
            </li>
        </ul>
    </div>
</div>
